#main-container {
    width: 1000%;
    height: 100vh;
    background-image: url("../../assets/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    justify-items: center;
    align-items: center;
  }