:root {
  --cor-primary-1 : #690013;
  --cor-primary-2 : #830018;
  --cor-primary-3: #9C001C;
  --cor-primary-4: #A31111;
  --cor-secundary-1: #9D7628;
  --cor-secundary-2: #C4A251;
  --cor-secundarty-3: #C8B06E;
  --cor-font-1: #36000A;
  --cor-font-2: #4f000d;
  --cor-bg-1:  #00000012;
  --cor-bg-2: #00000060;
  --cor-bg-3: #00000090;
}

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
#título{
  position: relative;
  left: 370px;
  top:250px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#texto{
  padding: 55px;
  position: relative;
  top:500px;
  font-family: cursive;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5;
}
#foto{
  width: 800px;
  height: 900px;
   position: relative;
   right: 250px;
   top: -320px;
   margin-bottom: -820px;
}
#foto2{
  width: 200px;
  height: 200px;
   position: relative;
   right: -60px;
   top: -650px;
   margin-bottom: -820px;
}
#foto3{
  width: 180px;
  height: 100px;
   position: relative;
   left: 360px;
  bottom: 80px;
  
   
}
#caixa{
 left: 60px;
  width: 1000px; /* Largura da caixa */
  height: 200px; /* Altura da caixa */
  position: relative;
  top:600px;
  border: 2px solid #333; /* Borda da caixa */
  padding: 20px; /* Espaçamento interno da caixa */
  box-sizing: border-box; /* Garante que a largura e a altura incluam a borda e o preenchimento */
  margin: 20px; /* Espaçamento externo ao redor da caixa */
}
#data{
  position: relative;
  bottom: 80px;
  font-family: cursive;
  font-size: 20px;
  font-weight: normal;
  
}
#assinatura{
position: relative;
bottom: 95px;
left: 645px;
}
#curriculo {
  top: 5px;
  height: 30px;
  position: relative;
  right: 0px;
  color: #7a3723f5;
}

#curriculo:hover {
  color: #24237af5;
}

#vinculacao {
  top: 5px;
  height: 30px;
  position: relative;
  right: 0px;
  color: #7a3723f5;
}


#vinculacao:hover {
  color: #24237af5;
}

#titulogerador{
  text-align: center;
  
}
#inputdeclaracao{
  margin-top: 242px;
  width: 280px;
}


