img {
    width: 100px;
    height: 90px;
    padding: 5px;
     
}
#linkEdital{
color: #1976d2;
position: relative;
width: 85px;
height: 25px;
margin-top: 50px;
margin-left: 100px;
box-shadow: 5px 3px 9px 3px #2196F3;
}

#pdfImag{
width: 3%;
height: 31px !important;
position: relative;
right: 7%;
bottom: -33px;

}

#pdfImagg{
    width: 6%;
    height: 31px !important;
    position: relative;
    right: -94%;
    bottom: -74px;
    }
    


#UnicapADDProf{
    width: 200px;
    position: relative;
    right:8%;
}

#container {
    display: flex;
    justify-content: space-between;

    background-color: #f5f6f8;
    border-radius: 20px;
    padding: 0 5px;
    margin: 10px 0
}

.fieldContainer{
    width: 200px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    padding: 5px;
}

.imgContainer{
   display: flex;
   justify-content: center;
   align-items: center;
   
}

#name {
    line-height: 4px;
    font-size: 16px;
    font-weight: 900;
}

#email {
    color: #999999;
    font-size: 14px;
    font-weight: 500;

}